<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div class="input-group date" data-date-format="dd/mm/yyyy">
            <input
                name="date"
                id="date"
                type="text"
                class="form-control"
                placeholder="dd/mm/yyyy"
            />
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div>
        <script src="public/assets/js/datepicker.js"></script>
    </body>
</html>
